[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/huey"]
	path = themes/huey
	url = https://github.com/alloydwhitlock/huey.git
[submodule "theme/nostyleplease"]
	path = theme/nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease.git
